<html>
    <head>
        <title>

        </title>
        {%load static%}
        <link rel="stylesheet" href="{%static 'clone.css'%}">
        <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">

    </head>
    <body>
        
        <div class = "container">
            <div class = "row">
                <div  class = "col-sm-6 col-lg-6 col-md-6">
                    <img class = "img-fluid imageTwo" src="{%static 'mediaCover.png'%}" alt="">

                </div>
                <div class = "col-sm-6 col-lg-6 col-md-6">
                    <form action="/register" class = "mt-4 " method = "post" onsubmit="return select()">
                        {% csrf_token %}
                        <h2 class = "text-center">Clone sign up page</h2>
                        <span class = mt-4>First name:</span><span id = "fnameInvalid"></span>
                        <input class = "form-control mb-3" type="text" name="fname" id="fname">
                        <span>Last name:</span><span id = "lnameInvalid"></span>
                        <input class = "form-control mb-3"type="text" name="lname" id="lname">
                        <span>Email:</span><span id = "emailInvalid"></span>
                        <input class = "form-control mb-3"type="text" name="email" id="email">
                        <span>Phone:</span><span id = "phoneInvalid"></span>
                        <input class = "form-control mb-3" type="text" name="phone" id="phone">
                        <span>Username:</span><span id = "usernameInvalid"></span>
                        <input class = "form-control mb-3"type="text" name="userTwo" id="userTwo">
                        <span>Password:</span><span id = "passwordInvalid"></span>
                        <input class = "form-control mb-3"type="password" name="passOne" id="passOne">
                        <span>Re-enter password</span><span id = "repasswordInvalid"></span>
                        <input class = "form-control mb-3"type="password" name="passTwo" id="passTwo">
                        <button  class = "btn btn-primary form-control" id = "signUpbtn">Sign up</button>
                    </form>
                </div>
            
            </div>
            <p class = "text-center">Do you have an account? <a href="/">sign in</a></p>
            <script src = "{%static 'clone.js'%}"></script>

        </div>
    </body>
</html>